.background{
    background-image: url('https://raw.githubusercontent.com/Alsaef/developer/main/images/dream-bg.png');
    background-repeat: no-repeat;
    background-size: 9%;
    background-position: right;
}