.banner{
    background-image: url("https://raw.githubusercontent.com/Alsaef/img/main/download.png");
    background-repeat: no-repeat;
    background-position:  60% 80%;
    background-size: 6%;
   
}